.leftPanel {
	position: fixed;
	top: 50px;
	left: -230px;
	z-index: var(--operation-index);
	transition: left 0.3s ease-in-out;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 220px;
	border-radius: 10px;
	padding: 10px 0;
	background: #fff;

	&.show {
		left: 10px;
	}

	.title {
		width: 100%;
		padding: 0 20px 4px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #eee;

		.name {
			font-size: 18px;
		}

		.close {
			font-size: 16px;
			cursor: pointer;
		}
	}

	.panelContent {
		max-height: calc(100vh - 170px);
		overflow-y: auto;
		padding: 6px 16px;
	}
}
