:root {
	--operation-index: 10;
	--draw-index: 15;
	--cursor-pencil: url("./assets/images/pencil.png"), auto;
	--cursor-crayon: url("./assets/images/crayon.png"), auto;
	--cursor-shadow: url("./assets/images/shadow.png"), auto;
	--cursor-eraser: url("./assets/images/eraser.png") 2 10, auto;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 14px;
}

html,
body {
	width: 100vw;
	height: 100vh;
}

body {
	background: #fff;
}

ol,
ul {
	list-style: none;
}

#root {
	width: 100%;
	height: 100%;
}

canvas {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	image-rendering: optimizeQuality;
	backface-visibility: hidden;
}
